# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ArmMCU-Emania-PC.coproj
*.bin
ArmMCU/Debug/bin/ArmMCU.elf
*.hex
ArmMCU/Debug/obj/aileronKalman.o
*.o
*.cogui
ArmMCU-Emania-PC.comarker
*.comarker
ArmMCU.coproj
*.map
*.xml
*.log
*.html
STM32F4xx_StdPeriph_Driver/inc/misc.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_adc.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dac.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_can.h
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_wwdg.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_sai.c
FreeRTOS/Port/arm_comm.h
cmsis_lib/source/stm32f4xx_usart.c
FreeRTOS/Source/include/event_groups.h
cmsis/core_cm4.h
cmsis/core_cmFunc.h
cmsis/core_cm4_simd.h
cmsis/core_cmInstr.h
cmsis_boot/startup/startup_stm32f4xx.c
cmsis_boot/stm32f4xx.h
cmsis_boot/stm32f4xx_conf.h
cmsis_boot/system_stm32f4xx.c
cmsis_boot/system_stm32f4xx.h
cmsis_lib/include/stm32f4xx_gpio.h
cmsis_lib/include/stm32f4xx_rcc.h
cmsis_lib/include/stm32f4xx_tim.h
cmsis_lib/include/stm32f4xx_usart.h
cmsis_lib/source/stm32f4xx_gpio.c
cmsis_lib/source/stm32f4xx_rcc.c
cmsis_lib/source/stm32f4xx_tim.c
FreeRTOS/Port/heap_2.c
FreeRTOS/Port/port.c
FreeRTOS/Port/portmacro.h
FreeRTOS/Source/croutine.c
FreeRTOS/Source/croutine.d
FreeRTOS/Source/event_groups.c
FreeRTOS/Source/include/croutine.h
FreeRTOS/Source/include/FreeRTOS.h
FreeRTOS/Source/include/list.h
FreeRTOS/Source/include/mpu_wrappers.h
FreeRTOS/Source/include/portable.h
FreeRTOS/Source/include/projdefs.h
FreeRTOS/Source/include/queue.h
FreeRTOS/Source/include/semphr.h
FreeRTOS/Source/include/StackMacros.h
FreeRTOS/Source/include/stdint.readme
FreeRTOS/Source/include/task.h
FreeRTOS/Source/include/timers.h
FreeRTOS/Source/tasks.c
FreeRTOS/Source/list.c
FreeRTOS/Source/list.d
FreeRTOS/Source/queue.c
FreeRTOS/Source/queue.d
FreeRTOS/Source/readme.txt
FreeRTOS/Source/tasks.d
FreeRTOS/Source/timers.c
kalman/aileron/aileronKalman.c
kalman/aileron/aileronKalman.h
kalman/elevator/elevatorKalman.c
kalman/elevator/elevatorKalman.h
mpc/aileron/aileronMpc.c
mpc/aileron/aileronMpc.h
mpc/elevator/elevatorMpc.c
mpc/elevator/elevatorMpc.h
mpc/elevator_and_aileron/elevAileMpcMatrices.c
mpc/elevator_and_aileron/elevAileMpcMatrices.h
mpc/elevator_and_aileron/elevAileMpcMatrices_250_kk2.c
mpc/elevator_and_aileron/elevAileMpcMatrices_mikrokopterKK2.c
mpc/elevator_and_aileron/elevAileMpcMatrices_tricopter_KK2.c
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_crc.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_cryp.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dbgmcu.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dcmi.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dma.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_dma2d.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_exti.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_flash.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_fmc.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_fsmc.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_gpio.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_hash.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_ltdc.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_pwr.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_iwdg.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_sai.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_rng.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_rtc.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_tim.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_syscfg.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_sdio.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_spi.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_rcc.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_usart.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_wwdg.h
STM32F4xx_StdPeriph_Driver/inc/stm32f4xx_i2c.h
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_crc.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_can.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_adc.c
STM32F4xx_StdPeriph_Driver/src/misc.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_cryp.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_cryp_tdes.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_cryp_aes.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_cryp_des.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dac.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dbgmcu.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_rcc.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_ltdc.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_pwr.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_rng.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_i2c.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_hash_md5.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_hash.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_gpio.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_hash_sha1.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_fmc.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_syscfg.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dma2d.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_flash.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_fsmc.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_iwdg.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_exti.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_rtc.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_spi.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_sdio.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dma.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_usart.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_tim.c
STM32F4xx_StdPeriph_Driver/src/stm32f4xx_dcmi.c
